@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.nav-container{
  background-color: #0c513a;
}

.nav-link{
  font-family: 'Poppins', sans-serif;  
  color: white;                 
  text-decoration: none;              
  position: relative;            
  font-size: 1.3rem; 
  font-weight: 500;              
  transition: color 0.3s ease;  
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;           
  width: 0;
  height: 1px;         
  background-color: currentColor; 
  transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::after{
  width: 80%;
  left: 0;
}



